/*CSS GERAL DE TODAS AS PÁGINAS*/
body {
  position: relative;
  margin: 0px;
  width: 100%;
}

*{
  box-sizing: border-box;
}

.menu {
  width: 100%; 
  margin: 0%;
  justify-content: center;
  text-align: center;
  align-items: center; 
  background-color: #000000;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode',Tahoma, Verdana, Geneva, sans-serif;
}

.menul {
  display: none;
  color:#FFB800;
}
  
.menulogo {
  display:flex;
  margin:0%;
  justify-content: center;
  /*text-align: center;*/
  align-items: center; 
}

.nome {
  color: #FFB800;
  font-weight: 900;
  font-size: 65px;
  padding-left: 0px;
  height: 100px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode',"Myriad Pro",sans-serif;
}

.logo {
  max-width: 100%;
  border-radius: 50%;
  width: 200px;
  /*height:200px;*/
  margin-top: 25px;
  padding-right: 0px;
}

img {
  max-width: 100%;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  margin-top: 25px;
}

.itemr {
  margin-left: 2%;
}

a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

/*CSS DA PÁGINA INICIAL*/

main h2 {
  width: 100%;
  padding: 2rem;
  font-size: 30px;
  justify-content: center;
  text-align: center;
  align-items: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode',"Myriad Pro",sans-serif;
}

.navegacao, .navegacaoconteudo {
  width: 100%;
  justify-content: center;
  text-align: center;
  align-items: center;
  display: flex;
  list-style: none;
}

.navegacaoconteudo li {
  margin: 5%;
}

.navegacao li {
  margin: 2%;
}

.iconemenu {
  display: none;
}

/*CSS DA PÁGINA SOBRE NÓS (ALGUMAS PARTES SÃO DAS PÁGINAS DE RECEITAS TAMBÉM)*/

.pagina { 
  width: 96%;
  position: relative;
  border-radius: 1.4%;
  margin: 0% 1.4%;
  padding: 2%;
  display: flex;
  flex-direction: column;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.titulopagina { 
  color: #FFB800;
  margin-left: 2.1%;
}

.descricaopagina { 
  color: rgb(0, 0, 0);
  margin-left: 2.1%;
  text-align: justify;
  margin-right: 5%;
}

.equipe, .receita {
  width: 100%;
  height: auto;
  display: flex;
  margin-bottom: 8%;
  color: #FFB800;
}

.text {
  left: 18px;
  color: rgb(0, 0, 0);
}

/*CSS PARA A PÁGINA RECEITAS*/

.categorias {
  width: 100%;
  padding: 2%;
  justify-content: center;
  text-align: center;
  align-items: center;
  display: flex;
  list-style: none;
}

.categorias li{
  margin: 7%;
}

.preparoreceita {
  margin-left: 2.1%;
}

/*CSS PARA A PÁGINA CATEGORIAS (AS CLASSES ESTÃO DISTRUIBUIDAS NAS CONFIGURAÇÕES CSS DE OUTRAS PÁGINAS ACIMA)*/


/*CSS PARA A PÁGINA AJUDA*/

.content {
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: white;
  position: relative;
  border-radius: 1.4%;
  margin: 0% 1.4%;
  padding: 2%;
  display: flex;
  flex-direction: column;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.formcontato input[type=text] {
  box-shadow: 4px 4px 5px #8a8a8a;
  border-radius: 4px;
  border: 1px solid #c2c2c2;
  font-size: 20px;
}

.contatonome {
  color: #FFB800;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 20px;
  font-weight: 1000;
}

.contatomsg {
  color: #FFB800;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 20px;
  font-weight: 1000;
}

.contatomsg input[type=text] {
  margin-top: 5px;
  height: 100px;
}

@media (max-width: 1000px) {
  /*.fotomenu {
    max-width: 100%;
    width: 50px;
    height: 50px;
    margin-top: 25px;*/
    
  .menu {
    display:flex;
    flex-direction:column;
    position:relative;
    max-width: 100%;
  }
  
  .menul {
    display:none;
    flex-direction:column;
    width:100%;
    color:#FFB800;
    spacing:2px;
  }
    
  /*li{
    margin-bottom: 1rem;
  }*/
  
  .nome {
    font-size:24px;
    width:50%;
  }
  
  .logo {
    width:50%;
    margin-top:0px;
  }
  
  .menulogo {
    justify-content:space-between;
  }  
  
  .iconemenu {
    display: block;
    color: #FFB800;
  }
    
  .navegacao, .navegacaoconteudo {
    display: flex;
    flex-direction: column;
    /*text-align: center;*/
    max-width:100%;
    width:70%;
    /*justify-content: center;
    align-items: center;*/
   }
  
  .categorias1 {
    flex-direction: row;
    height: 20%;  
  }
  
  .content {
    width: 93%;
    /*height: 1500px;*/
  } 
    
  .equipe, .receita {
    display:flex;
    flex-direction:column;
    align-items:center;
   }
  
  /*element.style {
     width:100%;
    text-align:center;
  }*/
  
  .pagina {
    width:100%;
    /*height:1500px;*/
    flex-direction: column;
  }
  
  .categorias {
    flex-direction:column;
  }
  
  .itemr {
    display:flex;
    flex-direction: column;
    align-items:center;
  }
  
  /*.navegacaoconteudo {
    display: none;
  }*/


}



