/*CSS GERAL DE TODAS AS PÁGINAS*/
body {
  background-color: rgb(255, 255, 255);
  position: relative;
  margin: 0%;
  width: 100%;
}

.menu {
  width: 100%; 
  margin: 0%;
  padding: 2rem;  
  justify-content: center;
  text-align: center;
  align-items: center; 
  background-color: #000000;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode',Tahoma, Verdana, Geneva, sans-serif;
}
  
.menulogo {
  display:flex;
  margin:0%;
  justify-content: center;
  text-align: center;
  align-items: center; 
}

.nome {
  color: #FFB800;
  font-weight: 900px;
  font-size: 65px;
  padding-left: 0px;
  height: 100px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode',"Myriad Pro",sans-serif;
}

.logo {
  max-width: 100%;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  margin-top: 25px;
  padding-right: 0px;
}

img {
  max-width: 100%;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  margin-top: 25px;
}

.itemr {
  margin-left: 2%;
}

/*CSS DA PÁGINA INICIAL*/

main h2 {
  width: 100%;
  padding: 2rem;
  font-size: 30px;
  justify-content: center;
  text-align: center;
  align-items: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode',"Myriad Pro",sans-serif;
}

.conteudo, .categorias, .proucuradas {
  width: 100%;
  justify-content: center;
  text-align: center;
  align-items: center;
  display: flex;
  list-style: none;
}

.conteudo li {
  margin: 5%;
}

.categorias li, .proucuradas li{
  margin: 2%;
}

/*CSS DA PÁGINA SOBRE NÓS (ALGUMAS PARTES SÃO DAS PÁGINAS DE RECEITAS TAMBÉM)*/

.pagina { 
  width: 96%;
  position: relative;
  border-radius: 1.4%;
  margin: 0% 1.4%;
  padding: 2%;
  display: flex;
  flex-direction: column;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.titulopagina { 
  color: #FFB800;
  margin-left: 2.1%;
}

.descriçaopagina { 
  color: rgb(0, 0, 0);
  margin-left: 2.1%;
  margin-bottom: 8%;
  text-align: justify;
  margin-right: 5%;
}

.kailany, .nataniele, .vitória, .receita1, .receita2, .receita3 {
  width: 100%;
  height: auto;
  display: flex;
  margin-bottom: 8%;
  color: #FFB800;
}

.kailany li, .nataniele li, .vitória li {
  margin: 10%;
}

.text, .descriçaoreceita {
  margin-top: 50px;
  position: absolute;
  left: 21.4%;
  right: 5%;
  text-align: justify;
  color: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
 
}

/*CSS PARA A PÁGINA RECEITAS*/

.categorias1 {
  width: 100%;
  padding: 2%;
  justify-content: center;
  text-align: center;
  align-items: center;
  display: flex;
  list-style: none;
}

.categorias1 li{
  margin: 7%;
}

.preparoreceita {
  margin-left: 2.1%;
}

/*CSS PARA OS LINKS DA TAG A*/
a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

/*CSS PARA A PÁGINA CATEGORIAS (AS CLASSES ESTÃO DISTRUIBUIDAS NAS CONFIGURAÇÕES CSS DE OUTRAS PÁGINAS ACIMA)*/


/*CSS PARA A PÁGINA AJUDA*/

.content {
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: white;
  position: relative;
  border-radius: 1.4%;
  margin: 0% 1.4%;
  padding: 2%;
  display: flex;
  flex-direction: column;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.formcontato {
  margin: 17% 5%;
}

.formcontato input[type=text] {
  box-shadow: 4px 4px 5px #8a8a8a;
  border-radius: 4px;
  border: 1px solid #c2c2c2;
  font-size: 20px;
}

.contatonome {
  color: #FFB800;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 20px;
  font-weight: 1000;
}

.contatomsg {
  color: #FFB800;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 20px;
  font-weight: 1000;
}

.contatomsg input[type=text] {
  margin-top: 5px;
  height: 100px;
}

@media (max-width: 1000px) {
  .menu {
    display:flex;
    position:relative;
    max-width: 100%;
    height: 200px;
  }
  
  .conteudo, .categorias, .proucuradas {
    display: none;
    flex-direction: column;
    position: relative;
    right: 13%;
    bottom: 9%;
    text-align: center;
   }
   
  .kailany, .nataniele, .vitória, .receita1, .receita2, .receita3 {
    height: 33%;
    text-align:justify;
    flex-direction: column;
    position: absolute;
    right:60px;
   }
  
  .pagina {
    width:100%;
    height:1500px;
    flex-direction: column;
  }
  
  .text, .descriçaoreceita {
    width: 80%;
    height: 1500px;
    position: absolute;
    right:60px;
  }
}
    
